
body {
    background-color: rgb(231, 182, 182);
}



.trash:hover {
    cursor: pointer;
}

.content {
    text-align: center;
}

.chiffre {
    padding: 10px;
    margin-top: 5px;
    width: 400px;
    border: none;
    border-bottom: 1px solid lightgrey;
}

.color {
    padding: 5px;
    margin-top: 25px;
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgrey;
}

.todo {
    margin: auto;
    text-align: left;
    width: 80%;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 20px;
}


